// .color1 {color: #1c1819;}
// .color2 {color: #5d3b37;}
// .color3 {color: #5f8aff;}
// .color4 {color: }
// .color5 {color: #ffffff;}

$color_1: #1c1819;
$color_2: #5d3b37;
$color_3: #5f8aff;
$color_4: #cfd4ff;
$color_5: #ffffff;
